<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor type="Sitecore.Support.Pipelines.PreprocessRequest.StripLanguage, Sitecore.Support.206103" patch:instead="processor[@type='Sitecore.Pipelines.PreprocessRequest.StripLanguage, Sitecore.Kernel']" />
      </preprocessRequest>
    </pipelines>
  </sitecore>
</configuration>